.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.product {
  border: 1px solid black;
  max-width: 300px;
  min-width: 300px;
  border-radius: 10px;
  margin: 10px 0;
}
