html, body {
  margin: 0;
  height: 100%;
}

.page {
  display: flex;
  height: 100%;
}

.sidepanel  {
  background-color: #aaa;
  min-width: 200px;
  max-width: 200px;
}


.content {
  width: 100%;
  overflow: auto;
  border: 1px solid red;
}

.hiddenForm {
  display: none;
}
