html, body {
  margin: 0;
  height: 100%;
}

.page {
  display: flex;
  height: 100%;
}

.sidepanel {
  position: fixed;
  height: 100%;
  width: 150px;
  background-color: gray;
}

.topSidePanel {
  left: 10px;
  top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.bottomSidePanel {
  left: 10px;
  bottom: 20px;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: #aaa;
}

.hiddenForm {
  display: none;
}
